pipeline/PL_CPY_SP_AUDIT.json
{
	"name": "PL_CPY_SP_AUDIT",
	"properties": {
		"activities": [
			{
				"name": "PL_CPY_SQL",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "BusinessEntityID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BusinessEntityID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PersonType",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "PersonType",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NameStyle",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NameStyle",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Title",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Title",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MiddleName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MiddleName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LastName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Suffix",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Suffix",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EmailPromotion",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "EmailPromotion",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AdditionalContactInfo",
									"type": "String",
									"physicalType": "xml"
								},
								"sink": {
									"name": "AdditionalContactInfo",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Demographics",
									"type": "String",
									"physicalType": "xml"
								},
								"sink": {
									"name": "Demographics",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "rowguid",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_CPY_SQL_CSV",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BLOB_CSV",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP_SUCCESS_AUDIT_DATA",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PL_CPY_SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[loadstatus]",
					"storedProcedureParameters": {
						"dataread": {
							"value": {
								"value": "@activity('PL_CPY_SQL').output.dataread",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorid": {
							"value": null,
							"type": "String"
						},
						"errormessage": {
							"value": null,
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('PL_CPY_SQL').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "Person.Person",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_INSERT_DATA",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_FAILED_AUDIT_DATA",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PL_CPY_SQL",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[loadstatus]",
					"storedProcedureParameters": {
						"dataread": {
							"value": {
								"value": "@activity('PL_CPY_SQL').output.dataread",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorid": {
							"value": {
								"value": "@activity('PL_CPY_SQL').output.errors[0].code",
								"type": "Expression"
							},
							"type": "String"
						},
						"errormessage": {
							"value": {
								"value": "@activity('PL_CPY_SQL').output.errors[0].message",
								"type": "Expression"
							},
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('PL_CPY_SQL').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "Person.Person\n",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_INPUT_SQL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-03-20T12:10:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}